<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Media Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .flex-container { display:flex }
        .flex-container > div { margin: 2%; background-color: green; width:50%}
    </style>
</head>
<body>
    <div class="flex-container">
        <div>box1</div>
        <div>box2<br/>Box2-Line2</div>
    </div>
    <div>
        <a href="/api/items/1" target="_blank">/api/items/1</a>
        <br/><a href="/api/items" target="_blank">/api/items</a>
        <br/><br/><a href="/Proto/rest.html" target="_blank">/Proto/rest.html</a>
    </div>
    <div>
        <a href="/Proto/TEST.html" target="_blank">/Proto/TEST.html</a>
    </div>
</body>
</html>